@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter Tight", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Custom premium scrollbar styling */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #080808;
}

::-webkit-scrollbar-thumb {
  background: #222222;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #333333;
}

@keyframes kenburns {
  0% {
    transform: scale(1.00) translateZ(0);
  }
  100% {
    transform: scale(1.03) translateZ(0);
  }
}

.animate-ken-burns {
  animation: kenburns 10s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

